.alert-notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-heading {
  font-size: 45px;
}

.success {
  color: #2dca73;
}

.icon {
  font-size: 25px;
  margin-right: 20px;
}

.children-top-container {
  display: flex;
  align-items: center;
}

.children-para {
  color: #64748b;
  margin-left: 30px;
  font-weight: 500;
}

.error {
  color: #ff0b37;
}

.warning {
  color: #ffb800;
}

.info {
  color: #0f81e0;
}
